body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    
    background: #f2f2f2;
    color: #333;
    animation: fadeIn 1s ease-in;

  }
  
  header h1 {
    margin-bottom: 70px;
  }


  #bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  .overlay {
    position: relative;
    z-index: 1;
  }
  
  header {
    background-color: rgba(0, 102, 153, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  nav ul li {
    list-style: none;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  /* При hover, бутоните се увеличават */
  nav ul li a:hover {
    transform: scale(1.1);
    color: #156af4;
  }
  
  /* Секциите с информация */
  .nav-item .info-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  /* Когато курсорът е върху елемента, показваме информацията */
  .nav-item:hover .info-box {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(10px); /* Леко движение на секцията нагоре */
  }
  
  .content-section {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    animation: slideUp 0.8s ease-out;
  }
  

  .text-content {
    flex: 1;
    max-width: 800px;
}

.text-content h2, .text-content p {
    
    margin-bottom: 20px;
}

.text-content p {
    text-align: justify;
  }


.text-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
}

.video-container {
    max-width: 400px;
    flex-shrink: 0; /* За да не се свие видеото */
    margin-left: 20px;
}

.video-container video {
    width: 100%; /* Направи видеото да е с ширина 100% от контейнера */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



  img {
    max-width: 50%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
  }
  
 
  
  footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    background-color: #ddd;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  .ml-page {
    background-image: url("media/ml_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .nlp-page {
    background-image: url("media/nlp_pic.jpg");
    background-size: 1700px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .cv-page {
    background-image: url("media/cv_background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .other-page {
    background-image: url("media/other_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .cv-images {
    display: flex;
    align-items: center; /* Подравнява ги по височина */
    justify-content: space-between; /* Разделя ги с разстояние */
    gap: 30px; /* Разстояние между тях */
    margin: 30px auto;
    max-width: 1000px;
  }
  
  .cv-gif {
    width: 400px;
    height: auto;
  }
  
  .img-cv {
    max-width: 50%;
    height: auto;
  }

  .robot-img{
    display: block;
    margin-left: auto;
    margin-right: 5px;
    max-width: 45%;
    margin-top: -230px;
    height: auto;
   
  }

  .nlp-gif {
    display: block;
    width: 550px;
    height: auto;
    margin: 30px auto;
  }

  .ml-gif {
    display: block;
    width: 550px;
    height: auto;
    margin-left: auto;
    margin-right:0;
    margin-top: -250px;
  }

  .right-image {
    width: 270px;
    height: auto;
    border-radius: 8px;
    margin-left: 80px;
    
  }
  
  
  .left-image{
    width: 270px;
    height: auto;
    border-radius: 8px;
    margin-left: 110px;
  }